@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
   
}
.headerLinks
{
    
}
.HomePage{
    width: 100%;
    height: 100%;
    
}
.category-title{
    color: red;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 20px;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;
}
.product-detail
{
    display: flex;
    justify-content: space-between;
    background-color: #88E460;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
}
.product-NameAndPrice
{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-Name
{
    color: #1B2365;
    font-weight: bold;
}
.showMore-btn
{
    color: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #00C1FF;
    border-radius: 20px;
}
.ProductPage-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ProductPage
{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
    background-color: #D7F499;
}
.text-container{
    padding: 10px;
    margin: 10px;
}
.text{
    margin-top: 10px;
}
.ProductTitle
{
    font-size: 2rem;
    font-weight: bold;
    color: #6D418D;
}
.ProductDetail
{
    font-size: 1rem;
    color: #418D86;
}
.Header
{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #0F21C0;
    padding: 10px;
}
.Link{
    margin: 10px;
    color: white;
    padding: 5px;
}
.Link:hover{
    background-color: #00C1FF;
}
.cart-logo-container
{
    display: flex;
    justify-content: space-between;
}
.cart-logo{
    margin-right: 5px;
}
.addBtn{
    width: 130px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #4FE100;
    color: aliceblue;
    margin-top: 100px;
}
.cartItem{
    display: flex;
    margin: 20px;
    border: #78E100 2px solid;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.SmallBtn{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
.PlusBtn
{
    background-color: green;
}
.MinusBtn{
    background-color: red;
}
.HomePage
{
    display: flex;
    justify-content: space-between;
}
.resetBtn{
    width: 150px;
    background-color: #F57596;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 40px;
}
.Home-Title{
    font-size: 3rem;
    padding: 20px;
    color: #06A6B1;
}
.Home-desc{
    padding: 20px;
}
.cartUtils{
    display: flex;
    justify-content: space-between;
}
.totalPrice{
    padding: 5px;
    margin: 20px 40px;
}
.cartLink-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.historyTitle{
    margin: 20px;
    font-size: 2rem;
    color: #0013A1;
}
.historyList{
    margin: 30px;
    border: #0013A1 2px solid;
    padding: 20px;
    border-radius: 20px;
}
.historyItems-title{
    font-size: 1.5rem;
    margin-left: 40px;
    color: #00A155;
}
.historyItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #4FE100 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.purchaseBtn{
    width: 150px;
    background-color: #4FE100;
    color: #1B2365;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 40px;
}
.emptyCart{
    font-size: 1.5rem;
    margin: 20px;
}
.search-container{
    position: relative;
    display: flex;
    align-items: center;
}
.SearchResults{
    position: absolute;
    width: 100%;
}
.search-result{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.search-result:hover{
    background-color: #00C1FF;
}
.comment-container
{
    display: flex;
    border: black 1px solid;
    padding: 5px;
    margin: 20px;
    align-items: center;
    border-radius: 15px;
}
.commentSection
{
    width: 800px;
    border: grey solid 2px;
    margin: 20px;
    align-items: center;
    background-color: #F7F199;
    border-radius: 20px;
}
.userSection
{
    display: flex;
    align-items: center;
    margin: 10px 30px;
}
.username{
    margin: 10px 20px;
}
.comment{
    margin-left: 70px;
}
.userPhoto{
    border-radius: 50%;
}
.AddComment-container{
    padding: 15px;
    margin: 20px;
    border: #4E4D32 1px solid;
    border-radius: 10px;
}
.formItem{
    margin-top: 5px;
}
.comment-title{
    font-size: 1.3rem;
}
.addCommentBtn{
    width: 200px;
    padding: 5px;
    background-color: #1BC3A2;
    border-radius: 10px;
}
textarea {
  resize: none;
}
.category-links
{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #7083BA;
    width: 150px;
    margin-left: 0;
}
.menu
{
    display: flex;
    cursor: pointer;
    width: 100px;
    justify-content: space-between;
}